[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/all-dot-files/astronvim-v4.git
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = https://github.com/all-dot-files/wezterm-config.git
